<!-- affiliate/__show.location.html.twig -->
<div class="panel panel-primary col-sm-4">
    <div class="panel-heading">
        <div>{{ affiliate.adresse1 }}</div>
        <div>{{ affiliate.codePostal }} {{ affiliate.commune }}</div>
    </div>
    <div class="panel-body">
        <div id="googleMap{{ affiliate.id }}" style="width:100%;height:250px;"></div>
    </div>
</div>  
<script>
            function myMap{{ affiliate.id }}() {
                var myCenter{{ affiliate.id }} = new google.maps.LatLng({{ affiliate.longitude }}, {{ affiliate.latitude }});
                var mapProp{{ affiliate.id }} = {
                    center: myCenter{{ affiliate.id }},
                    zoom: 15
                };
                var map{{ affiliate.id }} = new google.maps.Map(document.getElementById("googleMap{{ affiliate.id }}"), mapProp{{ affiliate.id }});
                var marker{{ affiliate.id }} = new google.maps.Marker({
                    position: myCenter{{ affiliate.id }}
                });
                marker{{ affiliate.id }}.setMap(map{{ affiliate.id }});
            }
</script>
