<!-- semaine:_form.rdv.htm.twig -->
{{ form_start(formRdv) }}
<div class="form-bb">
    <div class="col-sm-3" >{{ form_label(formRdv.dateDebut) }}</div>
    <div class="col-sm-3 ">{{ form_widget(formRdv.dateDebut) }}
        <span class="error-inline">{{ form_errors(formRdv.dateDebut) }}</span>
    </div>
    <div class="col-sm-3">{{ form_label(formRdv.dateHeureDebut) }}</div>
    <div class="col-sm-3 ">{{ form_widget(formRdv.dateHeureDebut) }}
        <span class="error-inline">{{ form_errors(formRdv.dateHeureDebut) }}</span>
    </div>
</div>
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.evenementType) }}</div>
    <div class="col-sm-9 ">{{ form_widget(formRdv.evenementType) }}
        <span class="error-inline">{{ form_errors(formRdv.evenementType) }}</span>
    </div>
</div>
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.nom) }}</div>
    <div class="col-sm-9 ">{{ form_widget(formRdv.nom) }}
        <span class="error-inline">{{ form_errors(formRdv.nom) }}</span>
    </div>
</div>
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.prenom) }}</div>
    <div class="col-sm-9 ">{{ form_widget(formRdv.prenom) }}
        <span class="error-inline">{{ form_errors(formRdv.prenom) }}</span>
    </div>
</div>
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.dateNaissance) }}</div>
    <div class="col-sm-9">{{ form_widget(formRdv.dateNaissance) }}
        <span class="error-inline">{{ form_errors(formRdv.dateNaissance) }}</span>
    </div>
</div>      
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.telephone) }}</div>
    <div class="col-sm-9 ">{{ form_widget(formRdv.telephone) }}
        <span class="error-inline">{{ form_errors(formRdv.telephone) }}</span>
    </div>
</div>
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.email) }}</div>
    <div class="col-sm-9 ">{{ form_widget(formRdv.email) }}
        <span class="error-inline">{{ form_errors(formRdv.email) }}</span>
    </div>
</div>    
<div class="form-bb">
    <div class="col-sm-3">{{ form_label(formRdv.message) }}</div>
    <div class="col-sm-9">{{ form_widget(formRdv.message) }}
        <span class="error-inline">{{ form_errors(formRdv.message) }}</span>
    </div>
</div>        
<div class="form-bb">
    <div class="col-sm-3 pull-right">{{ form_widget(formRdv.save) }}</div>
</div>
{{ form_end(formRdv) }}




