{% extends 'base.html.twig' %}
{% form_theme edit_form 'form/form_div_6.html.twig' %}

{% block body %}
    <fieldset>
        <legend>
            <h1>Modification {% trans%}identification{% endtrans%} {{ company.nom }}</h1>
        </legend>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <hr/>
        <div class="col-sm-12 text-center">
            <input type="submit" value="Valider" class="btn btn-lg btn-success"/>
        </div>
        {{ form_end(edit_form) }}
    </fieldset>
     <fieldset>
        <legend>
            <h1>Liste des {% trans%}praticien{% endtrans%}s</h1>
        </legend>
        <table class="table table-striped">
       {% for affiliate in company.affiliates %}             
           <tr>
               <td><a href="{{ path('affiliate_edit', { 'id': affiliate.id }) }}"> {{ affiliate.nom }}</a></td>
           </tr>
        {% endfor %}
        </table>
<a href="{{ path('affiliate_new', { 'id': company.id }) }}" class="btn btn-success">{% trans%}nouveau pratitien{% endtrans%}</a>
    </fieldset>       
{% endblock %}
